.bodyPart {
	width: 90%;
	margin: 0 auto;
	border-radius: 20px;
	padding: 20px;
	margin-top: 20px;
	background-image: linear-gradient(#fbab7e, #f7ce68);
	display: flex;
}
.Userssection {
	width: 70%;
	display: flex;
	flex-wrap: wrap;
}
